* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header .container{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin: 25px 25px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(232, 232, 232);
    color: rgb(42, 42, 42);
}

header h1 {
    font-weight: bolder;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
}

.logo_ebac {
    height: 65px;
    margin-right: 27px;
}

#form-AB {
    margin: auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}

.success-message {
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    border-radius: 10px;
    background: rgb(35, 56, 118);
    padding: 12px 15px;
    color: #fff;
    display: none;
}

.error-message {
    font-size: 12px;
    padding: 8px;
    background-color: red;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    display: none;
    margin-top: -7px;
    margin-bottom: 18px;
}

input, textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    resize: none;
    border-radius: 7px;
}

input:focus {
    outline-color: royalblue;
}

button {
    display: flex;
    align-items: center;
    font-weight: medium;
    margin-left: left;
    margin-right: auto;
    font-size: 18px;
    background: royalblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.2s;
    margin-bottom: 15px;
}

button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

button i {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

button:hover .wrapper {
    animation: fly 0.6s ease-in-out infinite alternate;
}

button:hover i {
    transform: translateX(1.2em) scale(1.1);
}

button:hover span {
    transform: translateX(5em);
}

button:active {
    transform: scale(0.95);
}

@keyframes fly {
    from { transform: translateY(0.1em); }
    to { transform: translateY(-0.1em); }
}

.icon_send {
    margin-right: 10px;
    height: 25px;
}

input.error {
    color: red;
    border-color: red;
    outline-color: red;
}